HW2  t-SNE.ipynb
First test.ipynb
src/.ipynb_checkpoints/First test-checkpoint.ipynb
data/
src/spectral/Untitled.ipynb
src/spectral/.ipynb_checkpoints/Untitled-checkpoint.ipynb
src/debug.txt
src/spectral/log_test_dloss.txt
src/Untitled.ipynb
src/.ipynb_checkpoints/Untitled-checkpoint.ipynb
